@(currencies: Set[models.Currency])

<!DOCTYPE html>
<html lang="en" ng-app="CoinTable">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Digital Cash - Market View</title>

        <link rel="icon" type="image/png" href="http://digitalcash.trade/images/download/favicon">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" href="http://digitalcash.trade/assets/frontend/frontend.css">

    </head>
    <body>
        <div id="side-menu" class="ui left sidebar vertical inverted compact menu">

        </div>
        <div class="pusher">
            <div id="top-menu" class="ui inverted violet labeled icon menu">
                <a class="item" href="/">
                    <i class="sidebar icon"></i>
                    Home
                </a>
            </div>

            <div id="market" class="ui basic segment stackable grid loading">

                <div class="centered row">
                    <div class="fourteen wide column">
                        <div class="ui basic segment">
                            <h1 class="ui header">
                                <div class="content">
                                    Market View
                                    <div class="sub header">Markets Real-Time Information</div>
                                </div>
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="centered row">
                    <div class="center aligned sixteen wide column">
                    </div>
                </div>

                <div class="centered row">
                    <div class="fourteen wide column">

                        <div class="ui basic segment">
                            <div id="coin-table" class="coin-table"
                            order-by="'market_cap'"
                            order-direction="'1'"
                            columns="'name,price,market_cap,volume_24h,change_1h,change_24h,change_7d'"
                            columns-labels='{"name":"Name","price":"Price","market_cap":"Market Cap","available_supply":"Available Supply","total_supply":"Total Supply","volume_24h":"Volume 24h","change_1h":"% 1h","change_24h":"% 24h","change_7d":"% 7d"}'
                            >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="centered row">
                    <div class="center aligned sixteen wide column">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                        <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>            </div>
                </div>
            </div>

            @* Search field - need to be improved *@
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search currency..">

            <ul id="searchUl">
                @for(currency <- currencies) {
                    <li>
                        <a href="@routes.CurrencyController.show(currency.id)">@currency.name</a>
                    </li>

                    <script>
        // jQuery for search currency by name
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("searchUl");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
</script>
                }
            </ul>


            <div id="footer" class="ui inverted   very relaxed segment">

            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/money.js/0.2.0/money.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
                var CoinTableConstants = {
                    default_price: 'USD',
                    theme: 'violet',
                    URLs: {
                        images: {
                            download: 'http://digitalcash.trade/images/download',
                            upload: 'http://digitalcash.trade/images/upload'
                        },
                        api: {
                            options: 'http://digitalcash.trade/api/options',
                            custom_pages: 'http://digitalcash.trade/api/custom_pages',
                            chart_data: 'http://digitalcash.trade/api/chart_data',
                        },
                        custom_pages: 'http://digitalcash.trade/p',
                        currency_page: 'localhost:9000/currency'
                    }
                }
        </script>
        <script src="http://digitalcash.trade/assets/frontend/semantic-writer.min.js"></script>
        <script src="http://digitalcash.trade/assets/frontend/frontend.min.js"></script>
        <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-93485550-20', 'auto');
                ga('send', 'pageview');

        </script>
    </body>
</html>