@(message: String)

<h1>@message</h1>
<h2>
    <a href="@routes.CurrencyController.index()"> Go to all Currencies </a>
</h2>


<!DOCTYPE html>
<html lang="en" ng-app="CoinTable">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <title>Digital Cash - DigitalCash</title>
        <meta name="description" content="Real-Time Cryptocurrency Markets"/>
        <meta name="keywords" content="Cryptocurrency, Bitcoin, Ethereum,"/>
        <link rel="canonical" href="http://digitalcash.trade"/>

        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://digitalcash.trade"/>
        <meta property="og:title" content="Digital Cash"/>
        <meta property="og:description" content="Real-Time Cryptocurrency Markets"/>
        <meta property="og:site_name" content="Digital Cash"/>
        <meta property="og:image" content="http://digitalcash.trade/images/download/seo_image"/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="Real-Time Cryptocurrency Markets"/>
        <meta name="twitter:title" content="Digital Cash"/>
        <meta name="twitter:url" content="http://digitalcash.trade"/>
        <meta name="twitter:image" content="http://digitalcash.trade/images/download/seo_image"/>
        <meta name="twitter:site" content=""/>

        <script type='application/ld+json'>
            @*{*@
            @*"@context":"http:\/\/schema.org",*@
            @*"@type":"WebSite",*@
            @*"url":"http://digitalcash.trade",*@
            @*"name":"Digital Cash"*@
            @*}*@

        </script>

        <link rel="icon" type="image/png" href="http://digitalcash.trade/images/download/favicon">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" href="http://digitalcash.trade/assets/frontend/frontend.css">

        <style></style>
    </head>
    <body>

        <div class="pusher">
            <div id="top-menu" class="ui inverted violet labeled icon menu">
                <a class="item" href="/">
                    <i class="sidebar icon"></i>
                    Home        </a>

            </div>
            <div id="home-header"
            class="ui inverted vertical masthead middle aligned center aligned segment"
            style="background-image: url(http://digitalcash.trade/images/download/home_header);">

                <div class="ui text container">
                    <h1 class="ui inverted header">
                        DigitalCash        </h1>
                    <h2>Welcome To CryptoCurrencies Markets</h2>
                    <a class="ui huge violet button" href="http://digitalcash.trade/market">
                        Market View            <i class="right arrow icon"></i>
                    </a>
                </div>
            </div>

            <div id="home-featured" class="ui vertical basic loading segment"
            data-featured-symbols="BTC,ETH,XRP,BCH,XLM,LTC,XEM,XMR,DASH"
            ng-controller="homeFeaturedCtrl"
            ng-cloak>
                <br>
                <br>
                <div class="ui text container">
                    <h1 class="ui header">
                        <i class="star icon"></i>
                        <div class="content">
                            Our Selection                </div>
                    </h1>
                    <div class="ui basic segment" >
                        <div class="ui raised stackable three link violet cards">
                            <a class="card" ng-repeat="feat in featured"
                            ng-href="{{ 'http://digitalcash.trade/currency/' + feat.symbol }}">
                                <div class="content">
                                    <div class="header" ng-bind="feat.name"></div>
                                    <div class="meta" ng-bind="feat.symbol"></div>
                                </div>
                                <div class="ui bottom attached violet button">
                                    {{ price_in }} {{ feat.price_converted }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <div class="ui vertical basic segment">
                <br>
                <br>
                <div class="ui text container">
                </div>
                <br>
                <br>
            </div>


            <div class="ui vertical basic segment">
                <br>
                <br>
                <div class="ui text container">
                    <h1 class="ui header">
                        <i class="feed icon"></i>
                        <div class="content">
                            News Posts                </div>
                    </h1>
                    <br>

                    <h3 class="ui header">
                        <div class="content">
                            Bitfury Enters Bitcoin Crime-Fighting Business                            <div class="sub header">
                            2018-01-30                            </div>
                        </div>
                    </h3>

                    <p>Bitfury isn't waiting for law enforcement to clean up the bitcoin space.</p>

                    <a class="ui basic large violet  button"
                    href="https://www.coindesk.com/bitfury-enters-bitcoin-crime-fighting-business-crystal-launch/" target="_blank">
                        <i class="external icon"></i>
                        CoinDesk                        </a>

                    <div class="ui divider"></div>


                    <h3 class="ui header">
                        <div class="content">
                            Investment Fund Moves to Capitalize on Ethereum                            <div class="sub header">
                            2018-01-30                            </div>
                        </div>
                    </h3>

                    <p>One of Canada's largest investment funds is hoping to leverage the ethereum ecosystem through a new venture.</p>

                    <a class="ui basic large violet  button"
                    href="https://www.coindesk.com/investment-fund-moves-to-capitalize-on-ethereum-ecosystem/" target="_blank">
                        <i class="external icon"></i>
                        CoinDesk                        </a>

                    <div class="ui divider"></div>


                    <h3 class="ui header">
                        <div class="content">
                            Coincheck Exchange Freezes All Withdrawals                            <div class="sub header">
                            2018-01-26                            </div>
                        </div>
                    </h3>

                    <p>Coincheck has reported the likely inappropriate transfer of $532 mln worth of NEM</p>

                    <a class="ui basic large violet  button"
                    href="https://cointelegraph.com/news/japan-coincheck-exchange-freezes-all-withdrawals-as-up-to-723-mln-leaves-its-wallet" target="_blank">
                        <i class="external icon"></i>
                        CoinTelegraph                        </a>

                    <div class="ui divider"></div>


                    <h3 class="ui header">
                        <div class="content">
                            Lightning Has a Problem: People Are Already Using It                            <div class="sub header">
                            2018-01-26                            </div>
                        </div>
                    </h3>

                    <p>Fake money is boring.
                        At least, that's the contention of many micropayment enthusiasts, whose impatience for the Lightning Network has led to an influx of real bitcoin being transacted.</p>

                    <a class="ui basic large violet  button"
                    href="https://cointelegraph.com/news/japan-coincheck-exchange-freezes-all-withdrawals-as-up-to-723-mln-leaves-its-wallet" target="_blank">
                        <i class="external icon"></i>
                        CoinTelegraph                        </a>


                </div>
                <br>
                <br>
            </div>

            <div class="ui vertical basic segment">
                <br>
                <br>
                <div class="ui text container">
                </div>
                <br>
                <br>
            </div>


            <div id="footer" class="ui inverted   very relaxed segment">
                <div class="ui stackable inverted grid">
                    <div class="centered row">
                        <div class=" four wide column">
                            <h4 class="ui inverted header">
                                Useful Links                    </h4>
                            <div class="ui inverted link list">
                                <a class="item" href="http://digitalcash.trade/go/footer/0">
                                    Buy & Sell Bitcoin        </a>
                                <a class="item" href="http://digitalcash.trade/go/footer/1">
                                    Web Hosting        </a>
                            </div>
                        </div>
                        <div class=" four wide column">
                            <h4 class="ui inverted header">
                                Follow Us                    </h4>
                            <div class="ui inverted link list">
                                <a class="item" target="_blank" href="https://www.facebook.com/runcoders/">
                                    <i class="facebook icon"></i>
                                    Facebook            </a>
                            </div>
                        </div>
                        <div class="four wide column">
                            <h4 class="ui inverted header">Donation</h4>
                            <p>Your contribution is vital for us.</p>
                            <a ng-click="openDonationModal()"
                            class="ui violet  labeled icon button">
                                <i class="bitcoin icon"></i>
                                Donate                        </a>

                        </div>
                    </div>
                    <div class="centered row">
                        <div class="twelve wide column">
                            <div class="ui inverted section divider"></div>
                        </div>
                    </div>
                    <div class="centered row">
                        <div class="center aligned twelve wide column">
                            <img class="ui centered mini image" src="http://digitalcash.trade/images/download/copyrights_image">
                            <div class="ui inverted link list">
                                <div class="item">2017 &copy; DigitalCash</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="donation-modal" class="ui modal">
                <div class="header">
                    Donation        </div>
                <div class="content">
                    <div class="ui positive message">
                        You contribution is vital for our project. Here are our cryptocurrencies addresses.</div>
                    <form class="ui form">
                        <div class="field">
                            <label>Bitcoin</label>
                            <div class="ui fluid action input">
                                <input id="donation-addr-0" readonly type="text" value="3BPvAJVD7AUJ2JaE9ttEyMPDuXauGDU4Kt">
                                <button class="ui blue right labeled icon button"
                                ng-click="copyBTCAddress('0')">
                                    <i class="copy icon"></i>
                                    Copy
                                </button>
                            </div>
                        </div>
                        <div class="field">
                            <label>Litecoin</label>
                            <div class="ui fluid action input">
                                <input id="donation-addr-1" readonly type="text" value="LKa83CQJHuUjMLkrChf2MSbfu1LE4deJK3">
                                <button class="ui blue right labeled icon button"
                                ng-click="copyBTCAddress('1')">
                                    <i class="copy icon"></i>
                                    Copy
                                </button>
                            </div>
                        </div>
                        <div class="field">
                            <label>Monero</label>
                            <div class="ui fluid action input">
                                <input id="donation-addr-2" readonly type="text" value="4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbRxQnyS4xYaaKCGjZgh">
                                <button class="ui blue right labeled icon button"
                                ng-click="copyBTCAddress('2')">
                                    <i class="copy icon"></i>
                                    Copy
                                </button>
                            </div>
                        </div>
                        <div class="field">
                            <label>Dogecoin</label>
                            <div class="ui fluid action input">
                                <input id="donation-addr-3" readonly type="text" value="D9AfGsp5pLyZRphmsGJBqZbenNYR5kcXhd">
                                <button class="ui blue right labeled icon button"
                                ng-click="copyBTCAddress('3')">
                                    <i class="copy icon"></i>
                                    Copy
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="actions">
                    <div class="ui positive right labeled icon button">
                        Thank you                <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/money.js/0.2.0/money.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
                var CoinTableConstants = {
                    default_price: 'USD',
                    theme: 'violet',
                    URLs: {
                        images: {
                            download: 'http://digitalcash.trade/images/download',
                            upload: 'http://digitalcash.trade/images/upload'
                        },
                        api: {
                            options: 'http://digitalcash.trade/api/options',
                            custom_pages: 'http://digitalcash.trade/api/custom_pages',
                            chart_data: 'http://digitalcash.trade/api/chart_data',
                        },
                        custom_pages: 'http://digitalcash.trade/p',
                        currency_page: 'http://digitalcash.trade/currency'
                    }
                }
        </script>
        <script src="http://digitalcash.trade/assets/frontend/semantic-writer.min.js"></script>
        <script src="http://digitalcash.trade/assets/frontend/frontend.min.js"></script>
        <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-93485550-20', 'auto');
                ga('send', 'pageview');

        </script>
    </body>
</html>
